:root {
    --img-background-color: #dddddd;
    --name-background-color: beige;
    --transition: 150ms ease-in-out;
    --heading-color: #ffcc03;
}

@font-face {
    font-family: "Pokemon";
    src: url(fonts/pokemon/Pokemon\ Solid.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: no-repeat url(https://64.media.tumblr.com/dad265ec9076688af927df0e6f99b310/tumblr_obbc9phjzo1tun8kfo1_r7_1280.jpg) center/cover;
    font-family: 'Rubik', sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-family: "Pokemon", sans-serif;
    -webkit-text-stroke: 3px #2f5fb4;
    text-shadow: 5px 5px 10px #333;
    font-size: 5rem;
    letter-spacing: 6px;
    color: var(--heading-color);
    padding: 1rem 0;
}

.search-container {
    display: flex;
    align-items: center;
}

label {
    color: var(--heading-color);
    padding: 0 1rem;
}

#search {
    padding: 0.25rem;
    margin: 1rem;
}

/* Card section */

.card-container {
    outline: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    gap: 1rem;
    width: 80%;
    height: 80%;
    flex-wrap: wrap;
}

.data-card {
    height: 200px;
    width: 150px;
    min-height: 200px;
    min-width: 150px;
    border: black 2px solid;
    display: flex;
    flex-direction: column;
    transition: var(--transition);
    filter: 
        grayscale(1)
        brightness(1);
}

.data-card:hover {
    box-shadow: 0 0 5px;
    filter: 
        brightness(1.1)
        grayscale(0);
}

.card-image {
    background-color: var(--img-background-color);
    display: block;
    height: 80%;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.name {
    text-transform: capitalize;
    text-align: center;
    background-color: var(--name-background-color);
}

.type-container {
    display: flex;
    background-color: #2f5fb4;
}

li {
    color: #dddddd;
    display: inline-block;
    list-style: none;
    width: 50%;
    text-align: center;
    border: #333 1px solid;
}

@media screen and (max-width: 395px) {

    .data-card {
        width: 100%;
        height: auto;
        min-width: none;
        min-height: none;
    }

    .name {
        padding: 0.25rem;
    }

    li {
        height: 100%;
        padding: 1rem;
    }
}